.modal {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
  }
  &-about {
    justify-content: center;
  }
}

.close-btn {
  border: none;
  position: absolute;
  font-size: clamp(2rem, 2vw, 3rem);
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.skills-wrapper {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
}

.img {
  max-width: 100%;
  height: 140%;
  &-wrapper {
    border-radius: 2rem;
    width: 80%;
    height: 60%;
    overflow: hidden;
  }
}

.h2 {
  font-family: "Delius", cursive;
  font-size: clamp(3rem, 3vw, 5rem);
}

.p {
  font-size: 1.8rem;
  text-align: center;
  max-width: 70%;
}

.h3 {
  font-family: "Delius", cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.skills {
  font-size: clamp(2rem, 3vw, 5rem);
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;

  &-about {
    font-size: clamp(4rem, 3.5vw, 6rem);
  }
}

.link {
  &:visited,
  &:link {
    font-size: clamp(0.5rem, 1.5vw, 3rem);
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 1rem;
  }

  &:hover,
  &:active {
    filter: brightness(115%);
  }

  &-left {
    margin-right: auto;
  }

  &-right {
    margin-left: auto;
  }
}

.p-about {
  font-size: 2rem;
  max-width: 80%;
  text-align: center;
}

.h2-about {
  font-size: 4.8rem;
  font-family: "Delius", cursive;
}

.h3-about {
  font-size: 4rem;
  font-family: "Delius", cursive;
}

.h4-about {
  font-size: 3.5rem;
  font-family: "Delius", cursive;
}
